### Imports

In [148]:
import pandas as pd
import numpy as np
import datetime

In [149]:
df_edu = pd.read_csv(".\data\education.csv")
df_lan = pd.read_csv(".\data\languages.csv")
df_skills = pd.read_csv(".\data\skills.csv")
df_subs = pd.read_csv(".\data\submission.csv")
df_work_exp = pd.read_csv(".\data\work_experiences.csv")
test_users = pd.read_csv("test_users.csv")
train_users = pd.read_csv("train_users.csv")

In [150]:
df_edu.sample(n=10)

,user_id,school_name,degree,fields_of_study,start_year_month,end_year_month
43559,20277,İstanbul Üniversitesi,Lisans Derecesi,Bilgisayar Mühendisliği,NaN,NaN
141689,65927,Boğaziçi Üniversitesi,Lisans Derecesi,Yabancı Diller Eğitimi,NaN,NaN
74434,34379,Yıldız Teknik Üniversitesi,Lisans Derecesi,Matematik Mühendisliği,NaN,NaN
25801,12021,Muğla Sıtkı Koçman Üniversitesi,Lisans Derecesi,Bilgisayar Mühendisliği,NaN,NaN
26943,12584,Eskisehir Osmangazi University,Engineer's degree,Electrical and Electronics Engineering,NaN,NaN
10991,5630,Marmara Üniversitesi,Bachelor's degree,"Management Information Systems, General (in Ge...",NaN,202108.0
89792,41668,Sakarya Üniversitesi,Lisans Derecesi,Bilgisayar Mühendisliği,NaN,NaN
58627,27320,Istanbul Technical University,Bachelor of Science (BSc),Electronics Engineering,NaN,NaN
23034,10898,Anadolu Üniversitesi,NaN,İşletme,NaN,NaN
20221,9745,Bahcesehir,Master's degree,Computer Engineering,NaN,NaN

In [151]:
df_lan.sample(n=10)

       user_id   language           proficiency
34406    29226  İngilizce  professional_working
72722    63741  İngilizce       limited_working
62100    54303     Türkçe   native_or_bilingual
40882    34722     German            elementary
12773    10750     Türkçe   native_or_bilingual
61024    53318     Türkçe   native_or_bilingual
66280    58112  İngilizce  professional_working
61133    53442     Türkçe   native_or_bilingual
21629    18598  İngilizce  professional_working
66274    58109    English                   NaN

In [152]:
df_skills.sample(n=10)

         user_id             skill
296382     13836             MYSQL
578980     27273               CAN
524389     24781             JUnit
574483     27021           web3.js
1363983    64860  Machine Learning
185493      8671               C++
193770      9052              .NET
990948     46942   Public Speaking
1316760    62655          RestAPIs
322991     15106           ASP.NET

In [153]:
df_work_exp.sample(n=40)

        user_id  company_id                    location  start_year_month
81274     19213       14165           İstanbul, Türkiye            201501
76070     53714        1084                         NaN            200805
82380     21065          35            Istanbul, Turkey            201610
124141     9934          26                         NaN            201606
164572    25950       16523            Istanbul, Turkey            201510
6798      36713          41                         NaN            201308
24500     26500         340                    New York            201307
38496     57924          95              Ankara, Turkey            201801
12312     20671        1146            Istanbul, Turkey            201806
185071     9265        3020                    İstanbul            201511
157990     7223          89             Ankara, Türkiye            201401
81640     21512       14883                         NaN            201502
24736     60197        4673                         NaN            201706
13858      2059         313                         NaN            201707
165252    40389        5545                         NaN            201411
103778    61403        1784                         NaN            201606
38566     61866        3606                         NaN            201802
166056    57226        3420                         NaN            200304
9694      50202        1545            Istanbul, Turkey            200612
22554     23849          47               Izmir, Turkey            201802
61933     46230       22426            Antalya, Türkiye            201706
90573     59678        1367             Ankara, Türkiye            201906
118820    11995        1900                         NaN            201810
171620    23962        1900                      Cyprus            201807
47943     51425         709            Istanbul, Turkey            201807
150451    55626        5090              Ankara, Turkey            201411
146250    58557        3293            Istanbul, Turkey            201907
155225    51065       24042                         NaN            201308
55823     57250        1495             Kocaeli, Turkey            201712
61992     37288        1337            Istanbul, Turkey            201907
169589    27653        1356            Istanbul, Turkey            200607
32652     25951        1525             Kocaeli, Turkey            201906
115160    50643        2896  Ereğli, Zonguldak, Türkiye            201707
107270     7675        1654                         NaN            201507
92428     24715       16068               Izmir, Turkey            201806
96677      5504          64                         NaN            200412
106395    32370        3295               Bursa, Turkey            201702
71799     29770        1113      Gebze, Kocaeli, Turkey            200609
67622     33182        1223            Istanbul, Turkey            201907
157229     2069        1788            Istanbul, Turkey            201709

In [154]:
list_1 = df_work_exp["start_year_month"].tolist()
list_2 = []
for i in list_1:
    i_datetime = datetime.datetime.strptime(str(i),'%Y%m')
    list_2.append(i_datetime)

In [155]:
df_work_exp["start_year_month_c"] = list_2
df_work_exp.drop("start_year_month", axis=1)

        user_id  company_id           location start_year_month_c
0         53442        2651   Istanbul, Turkey         2015-09-01
1         34558         815   Istanbul, Turkey         2012-10-01
2         63761       26354                NaN         2000-10-01
3         10738          89                NaN         2016-10-01
4          8711        3113   Istanbul, Turkey         2018-01-01
...         ...         ...                ...                ...
187014    22180       15065              Gebze         2012-05-01
187015    55822       25076             stajer         2015-06-01
187016    13750        1607                NaN         2019-01-01
187017     3679        1414     Ankara, Turkey         2018-07-01
187018    40056       14626  İstanbul, Türkiye         2013-03-01

[187019 rows x 4 columns]

In [156]:
from functools import reduce
dfs = [df_edu, df_lan, df_skills, df_subs, df_work_exp]
df_final = reduce(lambda left,right: pd.merge(left,right,on='user_id'), dfs)

In [157]:
df_final.head()

,user_id,school_name,degree,fields_of_study,start_year_month_x,end_year_month,language,proficiency,skill,moved_after_2019,company_id,location,start_year_month_y,start_year_month_c
0,11,Firat University,Lisans Derecesi,Computer Software Engineering,NaN,NaN,Turkish,native_or_bilingual,Python,NaN,29,"Merkez(Beykoz) Mah., İstanbul Province, Turkey",201808,2018-08-01
1,11,Firat University,Lisans Derecesi,Computer Software Engineering,NaN,NaN,Turkish,native_or_bilingual,Python,NaN,30,"Istanbul, Turkey",201708,2017-08-01
2,11,Firat University,Lisans Derecesi,Computer Software Engineering,NaN,NaN,Turkish,native_or_bilingual,Flask,NaN,29,"Merkez(Beykoz) Mah., İstanbul Province, Turkey",201808,2018-08-01
3,11,Firat University,Lisans Derecesi,Computer Software Engineering,NaN,NaN,Turkish,native_or_bilingual,Flask,NaN,30,"Istanbul, Turkey",201708,2017-08-01
4,11,Firat University,Lisans Derecesi,Computer Software Engineering,NaN,NaN,Turkish,native_or_bilingual,django,NaN,29,"Merkez(Beykoz) Mah., İstanbul Province, Turkey",201808,2018-08-01

In [158]:
df_final.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3363317 entries, 0 to 3363316
Data columns (total 14 columns):
 #   Column              Dtype
---  ------              -----
 0   user_id             int64
 1   school_name         object
 2   degree              object
 3   fields_of_study     object
 4   start_year_month_x  float64
 5   end_year_month      float64
 6   language            object
 7   proficiency         object
 8   skill               object
 9   moved_after_2019    float64
 10  company_id          int64
 11  location            object
 12  start_year_month_y  int64
 13  start_year_month_c  datetime64[ns]
dtypes: datetime64[ns](1), float64(3), int64(3), object(7)
memory usage: 384.9+ MB

In [159]:
df_final_c = df_final.drop(columns=["start_year_month_x","end_year_month","degree","company_id","start_year_month_y"], axis=1)

In [160]:
df_final_c.drop_duplicates(subset='user_id',keep='first', inplace=True)
df_final_c.sample(n=40)

,user_id,school_name,fields_of_study,language,proficiency,skill,moved_after_2019,location,start_year_month_c
2147654,41455,Sakarya Üniversitesi,İnternet ve Ağ Teknolojileri,Türkçe,native_or_bilingual,Debugging,NaN,"İstanbul, Türkiye",2013-04-01
415232,8590,Bilkent University,Electrical and Electronics Engineering,English,NaN,Matlab,NaN,"Ankara, Turkey",2012-06-01
1482339,28640,Istanbul Technical University,Electronics and Communication Engineering,English,professional_working,Cybersecurity,NaN,"California, United States",2018-06-01
1872003,35729,Yıldız Teknik Üniversitesi / Yildiz Technical ...,Electronics and Communication Engineering,İngilizce,professional_working,C++,NaN,"İstanbul, Türkiye",2015-11-01
1204725,25020,Koç Üniversitesi,Physics,English,full_professional,Matlab,NaN,"Izmir, Turkey",2016-11-01
417060,8694,Orta Doğu Teknik Üniversitesi,Cognitive Sciences,English,full_professional,Software Engineering,NaN,NaN,2005-05-01
1353813,26862,C and System Programmers' Association,C Programming Language,Turkish,native_or_bilingual,Java,NaN,"Istanbul, Turkey",2016-11-01
2301547,45527,Dokuz Eylül Üniversitesi,Computer Software,İngilizce,native_or_bilingual,MVC,NaN,NaN,2016-09-01
2103673,40276,Sakarya Üniversitesi,Computer Engineering,Türkçe,native_or_bilingual,ASP.NET MVC,NaN,"Ankara, Türkiye",2014-07-01
2027496,38454,Yildiz Technical University,NaN,English,professional_working,COBOL,NaN,ABM Cumhuriyet Mah. Plevne Cad. No:1 Şekerpı...,2016-07-01
1411742,27700,Middle East Technical University,Chemical Engineer,English,NaN,Pharmaceutical Industry,NaN,NaN,2017-09-01
2137658,41331,Yeditepe University,"Business Administration and Management, General",English,professional_working,Subcontracts Management,NaN,NaN,2012-06-01
563150,11033,Bahçeşehir Üniversitesi,NaN,İngilizce,NaN,Java,NaN,"Ankara, Turkey",2007-08-01
1229819,25464,İzmir Yüksek Teknoloji Enstitüsü,Computer Engineering,İngilizce,professional_working,OOP (Nesne Yönelimli Programlama),NaN,"Izmir, Turkey",2018-07-01
2417867,47795,Gazi Üniversitesi,Sağlık Bilişimi,Turkish,native_or_bilingual,Team Leadership,NaN,Türkiye,2018-06-01
1862020,35393,İstanbul Kültür Üniversitesi,Bilgisayar Mühendisliği,İngilizce,full_professional,ASP.NET MVC,NaN,"Istanbul, Turkey",2017-11-01
449065,9125,Bilkent Üniversitesi,Elektrik ve Elektronik Mühendisliği,Türkçe,native_or_bilingual,Java,NaN,odtü teknokent,2018-11-01
2615874,52334,Kocaeli University,Computer Engineering,İngilizce,NaN,Java,NaN,"Istanbul, Turkey",2018-07-01
3303692,65766,Boğaziçi Üniversitesi,yönetim bilişim sistemleri,Türkçe,native_or_bilingual,.Net,NaN,"Istanbul, Turkey",2017-06-01
3069965,62095,Yildiz Technical University,Bioengineering,English,NaN,Cell Culture,NaN,NaN,2012-03-01
2941844,59620,Ondokuz Mayıs Üniversitesi,Elektrik ve Elektronik Mühendisliği,Türkçe,native_or_bilingual,Energy,NaN,NaN,2009-01-01
1360733,26874,North Carolina State University,Design,English,native_or_bilingual,Research,NaN,NaN,2009-06-01
1369187,26917,Boğaziçi Üniversitesi,Computer Engineering,İngilizce,professional_working,IP,NaN,NaN,2018-07-01
2054893,38813,Yildiz Technical University,Mathematical Engineering,Türkçe,NaN,SQL,NaN,NaN,2018-09-01
1961343,37544,Yildiz Technical University,Computer Engineering,English,NaN,Software Engineering,NaN,"Katowice, Silesian District, Poland",2017-06-01
415160,8584,Bilkent University,Electrical and Electronics Engineering,Turkish,native_or_bilingual,Java,NaN,"Ankara, Turkey",2016-09-01
1958547,37473,Boğaziçi Üniversitesi / Bogazici University,Executive MBA,Türkçe,native_or_bilingual,CCNA,NaN,"İstanbul, Türkiye",2008-03-01
2764007,55781,Selçuk Üniversitesi,Bilgisayar Mühendisliği,Türkçe,native_or_bilingual,C#,NaN,"Konya, Turkey",2017-07-01
1174616,24246,Çukurova Üniversitesi,Bilgisayar Mühendisliği,Türkçe,native_or_bilingual,Java,NaN,"Adana, Türkiye",2014-07-01
3008978,61047,Hacettepe University,Software Engineering,English,full_professional,Java,NaN,"Ankara, Türkiye",2017-04-01
155033,3367,Karadeniz Teknik Üniversitesi,Computer Engineering,Türkçe,native_or_bilingual,Python,NaN,"Ankara, Turkey",2015-06-01
857049,17514,Istanbul University,Marketing,Turkish,professional_working,WordPress,NaN,"Toshkent, Uzbekistan",2018-11-01
2205096,42914,Ege University,Agricultural Machinery and Technologies Engine...,Turkish,native_or_bilingual,Python,NaN,NaN,2018-06-01
2672026,53961,Kocaeli Üniversitesi,Bilgisayar Mühendisliği,Almanca,elementary,Agile Methodologies,NaN,"İstanbul, Türkiye",2013-07-01
2560345,50365,Sabanci University,Computer Science and Engineering,English,full_professional,JavaScript,NaN,NaN,2018-03-01
2368062,47069,Eskişehir Osmangazi Üniversitesi,NaN,Türkçe,NaN,Eğitim Teknolojisi,NaN,"Ankara, Turkey",2012-07-01
989191,19846,İstanbul Üniversitesi,Bilgisayar Mühendisliği,İngilizce,limited_working,Android Geliştirme,NaN,"Istanbul, Turkey",2018-07-01
3349460,66198,Bahçeşehir Üniversitesi,Computer Engineering,English,full_professional,C#,NaN,"İstanbul, Türkiye",2014-06-01
3095067,62660,Marmara Üniversitesi,Elektrik ve Elektronik Mühendisliği,Türkçe,native_or_bilingual,React.js,NaN,NaN,2017-07-01
1045004,21069,Istanbul University,Bilgisayar Yazılm,Türkçe,native_or_bilingual,C#,NaN,NaN,2010-03-01

In [161]:
train_users.head(20)

,user_id,industry,location,moved_after_2019
0,1301,Information Technology and Services,"Istanbul, Istanbul, Turkey",1
1,6950,Internet,"Istanbul, Istanbul, Turkey",0
2,4880,Online Media,Turkey,0
3,26046,Telecommunications,"Istanbul, Istanbul, Turkey",0
4,11005,Banking,"Istanbul, Turkey",0
5,47498,Computer Software,"Ankara, Ankara, Turkey",1
6,13722,Mobile Games,"Istanbul, Turkey",1
7,61135,Government Administration,"Ankara, Turkey",0
8,14242,Financial Services,"Gebze, Kocaeli, Turkey",1
9,44948,Computer Software,Turkey,0
10,65923,Electrical/Electronic Manufacturing,"Istanbul, Istanbul, Turkey",0
11,29026,Computer Software,"Istanbul, Turkey",0
12,33971,Computer Software,"Istanbul, Istanbul, Turkey",1
13,45820,Computer Software,"Ankara, Turkey",0
14,40150,Wholesale,"Fatih, Istanbul, Turkey",0
15,3576,Entertainment,"Kartal, Istanbul, Turkey",1
16,1677,Computer Software,Turkey,0
17,11204,Computer Software,"Istanbul, Turkey",0
18,60843,Defense & Space,"Ankara, Ankara, Turkey",1
19,48906,Computer & Network Security,Turkey,1

In [162]:
test_users.head(20)

    user_id                             industry                    location
0     17449                             Research                      Turkey
1     33967                    Computer Software  Istanbul, Istanbul, Turkey
2      2110                           Automotive                      Turkey
3     55082                             Internet                      Turkey
4     37165  Electrical/Electronic Manufacturing                      Turkey
5     42841                            Utilities  Istanbul, Istanbul, Turkey
6      8407                   Financial Services  Istanbul, Istanbul, Turkey
7     17053                    Computer Software  Istanbul, Istanbul, Turkey
8     24437                   Telecommunications              Ankara, Turkey
9     44394                              Banking  Istanbul, Istanbul, Turkey
10    39560  Information Technology and Services             Sakarya, Turkey
11    53698             Renewables & Environment               İzmir, Turkey
12    18374                   Financial Services   Kadikoy, Istanbul, Turkey
13    23724                    Computer Software                      Turkey
14    30798                           Automotive             Sakarya, Turkey
15    62101                    Computer Software  Istanbul, Istanbul, Turkey
16    20732  Electrical/Electronic Manufacturing                      Turkey
17    55798                    Computer Software                      Turkey
18    37665                            Insurance                      Turkey
19    18902  Information Technology and Services            Istanbul, Turkey